/* qt5ui/style/settingswindow.css */

/* QLineEdit - flat white field */
QLineEdit {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    min-width: 50px;  /* minimum width */
}

QLineEdit:focus {
    border: 2px solid #0078d7;  /* blue highlight */
}


/* QComboBox - flat white, centered text */
QComboBox {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
}

QComboBox:focus {
    border: 2px solid #0078d7;
}

/* remove default dropdown arrow */
QComboBox::drop-down {
    width: 0px;
    border: none;
}

/* dropdown items */
QComboBox QListView::item { 
    text-align: center; 
}


/* flat square checkbox */
QCheckBox {
    spacing: 5px;
    font-size: 16px;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 10px; 
    background-color: #1E1E1E;
}

QCheckBox::indicator:checked {
    background-color: #0078d7;
}


/* labels */
QLabel {
    font-size: 16px;
    color: rgb(255, 255, 255);
}
